@import url('./slide.css');
@import url('./timer.css');

body {
    font-family: 'Cabin', sans-serif;
}

.flex {
    display: flex;
}

.gap-4 {
    gap: 16px;
  }

  .w-1\/3 {
    width: 33.33%;
  }

  .w-1\/2 {
    width: 50%;
  }

  .w-2\/3 {
    width: 66.66%;
  }

  .w-full {
    width: 100%;
  }

  .border-red {
    padding: 5px;
    border: 1px dashed red;
  }

  .border-blue {
    padding: 5px;
    border: 1px dashed blue;
  }

  th,
  td {
    border-color: gray;
    border-style: solid;
  }

  .mt-2 {
    margin-top: 8px;
  }

  .error {
    min-height: 20px;
    font-size: 10px;
    color: red;
  }